<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

	<div id="pagewrap">
		<h1>Add a new user</h1>
		<form id="new_user" action="/users/create" method="POST">
			<label>
				First Name:
				<input type="text" name="first_name">
			</label>

			<label>
				Last Name:
				<input type="text" name="last_name">
			</label>

			<label>
				Email:
				<input type="text" name="email">
			</label>
			<input type="submit" value="Create" class="button">
		</form>
		<a href="/users">Go Back</a>
	</div>
</body>
</html>